USE [master]
GO
/****** Object:  Database [erp_database]    Script Date: 23/10/2024 9:26:43 SA ******/
CREATE DATABASE [erp_database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'erp_database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHOA\MSSQL\DATA\erp_database.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'erp_database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.KHOA\MSSQL\DATA\erp_database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [erp_database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [erp_database]
GO
/****** Object:  Table [dbo].[BacLuong]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BacLuong](
	[MaBL] [varchar](10) NOT NULL,
	[LuongCB] [int] NULL,
	[HSLuong] [int] NULL,
	[HSPhuCap] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaoHiem]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoHiem](
	[MaBaoHiem] [varchar](10) NOT NULL,
	[TenBaoHiem] [varchar](100) NULL,
	[NoiDungBH] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoHiem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BoPhan]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoPhan](
	[MaBP] [varchar](10) NOT NULL,
	[TenBP] [varchar](255) NULL,
	[SDT] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChienDich]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChienDich](
	[MaCD] [varchar](10) NOT NULL,
	[TenCD] [varchar](100) NULL,
	[NgayBatDau] [int] NULL,
	[NgayKetThuc] [varchar](500) NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChinhSach]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChinhSach](
	[MaChinhSach] [varchar](10) NOT NULL,
	[TenChinhSach] [varchar](100) NULL,
	[NoiDungCS] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChinhSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChucVu]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [varchar](10) NOT NULL,
	[TenCV] [varchar](255) NULL,
	[MaBL] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cong]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cong](
	[MaNV] [varchar](10) NOT NULL,
	[MaBL] [varchar](10) NULL,
	[ThangNam] [varchar](6) NOT NULL,
	[SoNgayCong] [float] NULL,
	[SoNgayNghi] [float] NULL,
	[SoGioLamThem] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[ThangNam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HoaDon]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HoaDon](
	[MaHD] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDonDH]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDonDH](
	[MaDDH] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDDH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuHoan]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuHoan](
	[MaPH] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SoLuongHoan] [int] NULL,
	[LyDoHoan] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuNghiemThu]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuNghiemThu](
	[MaPNT] [varchar](10) NOT NULL,
	[SoLo] [varchar](10) NOT NULL,
	[KetQuaNT] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPNT] ASC,
	[SoLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuNhapNVL]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuNhapNVL](
	[MaPNNVL] [varchar](10) NOT NULL,
	[MaNVL] [varchar](10) NOT NULL,
	[SLNhap] [int] NULL,
	[DVT] [nvarchar](255) NULL,
	[GiaNhap] [int] NULL,
	[NSX] [date] NULL,
	[HSD] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPNNVL] ASC,
	[MaNVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuNhapSP]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuNhapSP](
	[MaPNSP] [varchar](10) NOT NULL,
	[SoLo] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPNSP] ASC,
	[SoLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuXuatNVL]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuXuatNVL](
	[MaPXNVL] [varchar](10) NOT NULL,
	[MaNVL] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPXNVL] ASC,
	[MaNVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuXuatSP]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuXuatSP](
	[MaPXSP] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPXSP] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuYCSX]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuYCSX](
	[MaYC] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SoLuongSX] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaYC] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPNHangHoan]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPNHangHoan](
	[MaPNHH] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NOT NULL,
	[SoLuongHoan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPNHH] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucChi]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucChi](
	[MaDMT] [varchar](10) NOT NULL,
	[TenDMT] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDMT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucThu]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucThu](
	[MaDMT] [varchar](10) NOT NULL,
	[TenDMT] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDMT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDH]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDH](
	[MaDDH] [varchar](10) NOT NULL,
	[MaKH] [varchar](10) NULL,
	[NgayLap] [date] NULL,
	[NgayGiao] [date] NULL,
	[TinhTrang] [varchar](50) NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhQC]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhQC](
	[MaAnhQC] [varchar](10) NOT NULL,
	[MaCD] [varchar](10) NULL,
	[MoTa] [varchar](50) NULL,
	[HinhAnhQC] [text] NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAnhQC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](10) NOT NULL,
	[MaDDH] [varchar](10) NULL,
	[NgayLapHD] [date] NULL,
	[TinhTrangHD] [varchar](50) NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHopDong] [varchar](10) NOT NULL,
	[TenHopDong] [varchar](100) NULL,
	[MaNV] [varchar](10) NULL,
	[NgayBatDau] [date] NULL,
	[NgatKetThuc] [date] NULL,
	[VanBan] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[TenKH] [varchar](255) NULL,
	[Email] [varchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiKH]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKH](
	[MaLoaiKH] [varchar](10) NOT NULL,
	[TenLoaiKH] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLoai] [varchar](10) NOT NULL,
	[TenLoai] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoSanPham]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoSanPham](
	[SoLo] [varchar](10) NOT NULL,
	[MaYC] [varchar](10) NULL,
	[MaSP] [varchar](10) NULL,
	[SoLuongSP] [int] NULL,
	[NSX] [date] NULL,
	[HSD] [date] NULL,
	[TinhTrang] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[SoLo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauMaSP]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauMaSP](
	[MaAnhSP] [varchar](10) NOT NULL,
	[MaSP] [varchar](10) NULL,
	[MoTa] [varchar](50) NULL,
	[HinhAnhSP] [text] NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaAnhSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguyenVatLieu]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguyenVatLieu](
	[MaNVL] [varchar](10) NOT NULL,
	[TenNVL] [varchar](10) NULL,
	[GhiChu] [varchar](255) NULL,
	[SoLuongTon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](10) NOT NULL,
	[TenNCC] [varchar](255) NULL,
	[Email] [varchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NV_BaoHiem]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV_BaoHiem](
	[MaBaoHiem] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBaoHiem] ASC,
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NV_ChinhSach]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV_ChinhSach](
	[MaChinhSach] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChinhSach] ASC,
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NV_PhuCap]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NV_PhuCap](
	[MaPhuCap] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhuCap] ASC,
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuChi]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuChi](
	[MaPhieuChi] [varchar](10) NOT NULL,
	[MaDMC] [varchar](10) NULL,
	[NoiDung] [varchar](255) NULL,
	[SoTienChi] [int] NULL,
	[NgayChi] [date] NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuChiCongNo]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuChiCongNo](
	[MaPCCN] [varchar](10) NOT NULL,
	[MaNCC] [varchar](10) NULL,
	[NoiDung] [varchar](255) NULL,
	[SoTienChi] [int] NULL,
	[NgayChi] [date] NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPCCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuHoan]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuHoan](
	[MaPH] [varchar](10) NOT NULL,
	[MaDDH] [varchar](10) NULL,
	[NgayHoan] [date] NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieuktkl]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieuktkl](
	[MaPhieuKTKL] [varchar](10) NOT NULL,
	[NoiDung] [varchar](100) NULL,
	[SoTienKTKL] [int] NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuKTKL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNghiemThu]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNghiemThu](
	[MaPNT] [varchar](10) NOT NULL,
	[MaYC] [varchar](10) NULL,
	[NgayNT] [date] NULL,
	[VanBan] [text] NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapNVL]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapNVL](
	[MaPNNVL] [varchar](10) NOT NULL,
	[MaYC] [varchar](10) NULL,
	[MaNCC] [varchar](10) NULL,
	[NgayNhap] [date] NULL,
	[MaNV] [varchar](10) NULL,
	[PhanLoai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPNNVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhapSP]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhapSP](
	[MaPNSP] [varchar](10) NOT NULL,
	[NgayNhap] [date] NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPNSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThu]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThu](
	[MaPhieuThu] [varchar](10) NOT NULL,
	[MaDMT] [varchar](10) NULL,
	[NoiDung] [varchar](255) NULL,
	[SoTienThu] [int] NULL,
	[NgayThu] [date] NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThuCongNo]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThuCongNo](
	[MaPTCN] [varchar](10) NOT NULL,
	[MaKH] [varchar](10) NULL,
	[NoiDung] [varchar](255) NULL,
	[SoTienThu] [int] NULL,
	[NgayThu] [date] NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPTCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuatNVL]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuatNVL](
	[MaPXNVL] [varchar](10) NOT NULL,
	[NgayXuat] [date] NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPXNVL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuatSP]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuatSP](
	[MaPXSP] [varchar](10) NOT NULL,
	[MaDDH] [varchar](10) NULL,
	[NgayXuat] [date] NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPXSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuYCSX]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuYCSX](
	[MaYC] [varchar](10) NOT NULL,
	[NgayBD] [date] NULL,
	[NgayKT] [date] NULL,
	[VanBan] [text] NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaYC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhuCap]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuCap](
	[MaPhuCap] [varchar](10) NOT NULL,
	[TenPhuCap] [varchar](100) NULL,
	[NoiDungPC] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhuCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PNHangHoan]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PNHangHoan](
	[MaPNHH] [varchar](10) NOT NULL,
	[MaDDH] [varchar](10) NULL,
	[NgayHoan] [date] NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPNHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QTCongTac]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QTCongTac](
	[MaQT] [varchar](10) NOT NULL,
	[MaNV] [varchar](10) NULL,
	[MaCV] [varchar](10) NULL,
	[ThoiGianBD] [date] NULL,
	[ThoiGianKT] [date] NULL,
	[MaBP] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](10) NOT NULL,
	[MaLoai] [varchar](10) NULL,
	[TenSP] [varchar](100) NULL,
	[GiaBan] [int] NULL,
	[ThanhPhan] [varchar](500) NULL,
	[KLT] [varchar](20) NULL,
	[SoLuongTon] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Username] [varchar](20) NOT NULL,
	[Password] [varchar](20) NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinNhanVien]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinNhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[TenNV] [varchar](100) NULL,
	[GioiTinh] [varchar](3) NULL,
	[NgaySinh] [date] NULL,
	[QueQuan] [varchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[TDHV] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UuDai]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UuDai](
	[MaUuDai] [varchar](10) NOT NULL,
	[NoiDungUuDai] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaUuDai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UuDai_ChienDich]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UuDai_ChienDich](
	[MaUuDai] [varchar](10) NOT NULL,
	[MaCD] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaUuDai] ASC,
	[MaCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UuDai_LoaiKH]    Script Date: 23/10/2024 9:26:43 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UuDai_LoaiKH](
	[MaUuDai] [varchar](10) NOT NULL,
	[MaLoaiKH] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaUuDai] ASC,
	[MaLoaiKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChienDich]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChucVu]  WITH CHECK ADD FOREIGN KEY([MaBL])
REFERENCES [dbo].[BacLuong] ([MaBL])
GO
ALTER TABLE [dbo].[Cong]  WITH CHECK ADD FOREIGN KEY([MaBL])
REFERENCES [dbo].[BacLuong] ([MaBL])
GO
ALTER TABLE [dbo].[Cong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTDonDH]  WITH CHECK ADD FOREIGN KEY([MaDDH])
REFERENCES [dbo].[DonDH] ([MaDDH])
GO
ALTER TABLE [dbo].[CTDonDH]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTPhieuHoan]  WITH CHECK ADD FOREIGN KEY([MaPH])
REFERENCES [dbo].[PhieuHoan] ([MaPH])
GO
ALTER TABLE [dbo].[CTPhieuHoan]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTPhieuNghiemThu]  WITH CHECK ADD FOREIGN KEY([MaPNT])
REFERENCES [dbo].[PhieuNghiemThu] ([MaPNT])
GO
ALTER TABLE [dbo].[CTPhieuNghiemThu]  WITH CHECK ADD FOREIGN KEY([SoLo])
REFERENCES [dbo].[LoSanPham] ([SoLo])
GO
ALTER TABLE [dbo].[CTPhieuNhapNVL]  WITH CHECK ADD FOREIGN KEY([MaNVL])
REFERENCES [dbo].[NguyenVatLieu] ([MaNVL])
GO
ALTER TABLE [dbo].[CTPhieuNhapNVL]  WITH CHECK ADD FOREIGN KEY([MaPNNVL])
REFERENCES [dbo].[PhieuNhapNVL] ([MaPNNVL])
GO
ALTER TABLE [dbo].[CTPhieuNhapSP]  WITH CHECK ADD FOREIGN KEY([MaPNSP])
REFERENCES [dbo].[PhieuNhapSP] ([MaPNSP])
GO
ALTER TABLE [dbo].[CTPhieuNhapSP]  WITH CHECK ADD FOREIGN KEY([SoLo])
REFERENCES [dbo].[LoSanPham] ([SoLo])
GO
ALTER TABLE [dbo].[CTPhieuXuatNVL]  WITH CHECK ADD FOREIGN KEY([MaNVL])
REFERENCES [dbo].[NguyenVatLieu] ([MaNVL])
GO
ALTER TABLE [dbo].[CTPhieuXuatNVL]  WITH CHECK ADD FOREIGN KEY([MaPXNVL])
REFERENCES [dbo].[PhieuXuatNVL] ([MaPXNVL])
GO
ALTER TABLE [dbo].[CTPhieuXuatSP]  WITH CHECK ADD FOREIGN KEY([MaPXSP])
REFERENCES [dbo].[PhieuXuatSP] ([MaPXSP])
GO
ALTER TABLE [dbo].[CTPhieuXuatSP]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTPhieuYCSX]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTPhieuYCSX]  WITH CHECK ADD FOREIGN KEY([MaYC])
REFERENCES [dbo].[PhieuYCSX] ([MaYC])
GO
ALTER TABLE [dbo].[CTPNHangHoan]  WITH CHECK ADD FOREIGN KEY([MaPNHH])
REFERENCES [dbo].[PNHangHoan] ([MaPNHH])
GO
ALTER TABLE [dbo].[CTPNHangHoan]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DonDH]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonDH]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HinhAnhQC]  WITH CHECK ADD FOREIGN KEY([MaCD])
REFERENCES [dbo].[ChienDich] ([MaCD])
GO
ALTER TABLE [dbo].[HinhAnhQC]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaDDH])
REFERENCES [dbo].[DonDH] ([MaDDH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LoSanPham]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[LoSanPham]  WITH CHECK ADD FOREIGN KEY([MaYC])
REFERENCES [dbo].[PhieuYCSX] ([MaYC])
GO
ALTER TABLE [dbo].[MauMaSP]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[MauMaSP]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[NV_BaoHiem]  WITH CHECK ADD FOREIGN KEY([MaBaoHiem])
REFERENCES [dbo].[BaoHiem] ([MaBaoHiem])
GO
ALTER TABLE [dbo].[NV_BaoHiem]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[NV_ChinhSach]  WITH CHECK ADD FOREIGN KEY([MaChinhSach])
REFERENCES [dbo].[ChinhSach] ([MaChinhSach])
GO
ALTER TABLE [dbo].[NV_ChinhSach]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[NV_PhuCap]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[NV_PhuCap]  WITH CHECK ADD FOREIGN KEY([MaPhuCap])
REFERENCES [dbo].[PhuCap] ([MaPhuCap])
GO
ALTER TABLE [dbo].[PhieuChi]  WITH CHECK ADD FOREIGN KEY([MaDMC])
REFERENCES [dbo].[DanhMucChi] ([MaDMT])
GO
ALTER TABLE [dbo].[PhieuChi]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuChiCongNo]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuChiCongNo]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuHoan]  WITH CHECK ADD FOREIGN KEY([MaDDH])
REFERENCES [dbo].[DonDH] ([MaDDH])
GO
ALTER TABLE [dbo].[PhieuHoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[phieuktkl]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNghiemThu]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNghiemThu]  WITH CHECK ADD FOREIGN KEY([MaYC])
REFERENCES [dbo].[PhieuYCSX] ([MaYC])
GO
ALTER TABLE [dbo].[PhieuNhapNVL]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuNhapNVL]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhapNVL]  WITH CHECK ADD FOREIGN KEY([MaYC])
REFERENCES [dbo].[PhieuYCSX] ([MaYC])
GO
ALTER TABLE [dbo].[PhieuNhapSP]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD FOREIGN KEY([MaDMT])
REFERENCES [dbo].[DanhMucThu] ([MaDMT])
GO
ALTER TABLE [dbo].[PhieuThu]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuThuCongNo]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PhieuThuCongNo]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuXuatNVL]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuXuatSP]  WITH CHECK ADD FOREIGN KEY([MaDDH])
REFERENCES [dbo].[DonDH] ([MaDDH])
GO
ALTER TABLE [dbo].[PhieuXuatSP]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuYCSX]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PNHangHoan]  WITH CHECK ADD FOREIGN KEY([MaDDH])
REFERENCES [dbo].[DonDH] ([MaDDH])
GO
ALTER TABLE [dbo].[PNHangHoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[QTCongTac]  WITH CHECK ADD FOREIGN KEY([MaBP])
REFERENCES [dbo].[BoPhan] ([MaBP])
GO
ALTER TABLE [dbo].[QTCongTac]  WITH CHECK ADD FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[QTCongTac]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSP] ([MaLoai])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[ThongTinNhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[UuDai_ChienDich]  WITH CHECK ADD FOREIGN KEY([MaUuDai])
REFERENCES [dbo].[UuDai] ([MaUuDai])
GO
ALTER TABLE [dbo].[UuDai_ChienDich]  WITH CHECK ADD FOREIGN KEY([MaCD])
REFERENCES [dbo].[ChienDich] ([MaCD])
GO
ALTER TABLE [dbo].[UuDai_LoaiKH]  WITH CHECK ADD FOREIGN KEY([MaLoaiKH])
REFERENCES [dbo].[LoaiKH] ([MaLoaiKH])
GO
ALTER TABLE [dbo].[UuDai_LoaiKH]  WITH CHECK ADD FOREIGN KEY([MaUuDai])
REFERENCES [dbo].[UuDai] ([MaUuDai])
GO
USE [master]
GO
